 {{> footer}}
  <img src="views\img\descarga.png" class="card-img-top">
    <div class="card" style="width: 19rem; margin-top: 5%; margin-left: 40%;">
        
      
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Rol</label>
                  <input type="email" class="form-control" id="rol" aria-describedby="emailHelp">                  <div id="emailHelp" class="form-text">Nada de barbielalinda o cosas así.</div>
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Permisos</label>
                  <input type="email" class="form-control" id="permiso" aria-describedby="emailHelp">                  <div id="emailHelp" class="form-text">Nada de barbielalinda o cosas así.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"> Estado</label>
                  <input type="password" class="form-control" id="estado">
                  <div id="emailHelp" class="form-text">Que no sea el nombre de tu perro por favor.</div>
                </div>
                <button type="button" class="btn btn-primary" id="ROll" style="float-right">Enviar</button>
              </form>
              <script src="C:\Tiendita_soft\Public\assets\js\validacion.js"></script>

              
        </div>
      </div>
{{> header}}