{{> header}}
<div id="card1" class="card" style="width: 19rem; margin-top: 5%; margin-left: 40%;">
    <img id="img1" src="C:\Users\57300\Desktop\Tiendita_Login\login_tiendita\Usuarios\img\images (1).jpg"
        class="card-img-top">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label id="texto" for="exampleInputEmail1" class="form-label">Ingresa tu nombre</label>
                <input type="text" class="form-control" id="nombre">

            </div>
            <div class="mb-3">
                <label id="texto" for="exampleInputPassword1" class="form-label">Ingresa tu apellido</label>
                <input type="text" class="form-control" id="apellido">
                <!-- <div id="emailHelp" class="form-text">Que no sea el nombre de tu perro por favor.</div> -->
            </div>
            <div class="mb-3">
                <label id="texto" for="exampleInputEmail1" class="form-label">Ingresa tu telefono</label>
                <input type="number" class="form-control" id="telefono">

            </div>
            <div class="mb-3">
                <label id="texto" for="exampleInputPassword1" class="form-label">Ingresa tu correo electrónico</label>
                <input type="email" class="form-control" id="correo">
                <!-- <div id="emailHelp" class="form-text">Que no sea el nombre de tu perro por favor.</div> -->
            </div>
            <div class="mb-3">
                <label id="texto" for="exampleInputPassword1" class="form-label">Ingresa tu Contraseña</label>
                <input type="password" class="form-control" id="contraseñas">
                <!-- <div id="emailHelp" class="form-text">Que no sea el nombre de tu perro por favor.</div> -->
            </div>
            <div>
            <button class="btn btn-primary" type="button" id="botton_usuarios">Enviar formulario</button>
            </div>
        </form>
        <script src="/assets/js/validacion_usuarios.js"></script>


    </div>
</div>

{{> footer}}